html,
body {
  background-color: rgba(244, 249, 251, 0.711);
  height: 100%;
}

.grid-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  width: auto;
  height: auto;
  border: solid 2px black;
}

.grid {
  padding: 1em;
}

.grid:hover {
  background-color: black;
}
